{% extends 'base.html.twig' %}

{%block title%}Register{%endblock%}

{% block body %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Name) }}
        {{ form_row(registrationForm.Surname) }}
        {{ form_row(registrationForm.Password) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}

    {{ include ('footer.html.twig') }}
{% endblock %}

