{% extends 'base.html.twig' %}
{%block title%}Register{%endblock%}

{% block stylesheets %}
<style>
    .form-control {
        margin-left: 15px;
    }
    .btn {
        display: block;
    }
    form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 350px;
    }   
    form button[type="submit"] {
        align-self: center;
        justify-self: center;
        width: fit-content;
        padding: 10px 20px;
    }
    form > div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
</style>
{% endblock %}


{% block body %}
<main>
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Name) }}
        {{ form_row(registrationForm.Surname) }}
        {{ form_row(registrationForm.Password) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</main>

    {{ include ('footer.html.twig') }}
{% endblock %}

