{% extends 'base.html.twig' %}

{% block title %}ArticleInList index{% endblock %}

{% block body %}
    <h1>ArticleInList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>TotalPrice</th>
                <th>UnityPrice</th>
                <th>Name</th>
                <th>Brand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_in_list in article_in_lists %}
            <tr>
                <td>{{ article_in_list.id }}</td>
                <td>{{ article_in_list.quantity }}</td>
                <td>{{ article_in_list.totalPrice }}</td>
                <td>{{ article_in_list.unityPrice }}</td>
                <td>{{ article_in_list.name }}</td>
                <td>{{ article_in_list.brand }}</td>
                <td>
                    <a href="{{ path('app_article_in_list_show', {'id': article_in_list.id}) }}">show</a>
                    <a href="{{ path('app_article_in_list_edit', {'id': article_in_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_in_list_new') }}">Create new</a>
{% endblock %}
