{% extends 'base.html.twig' %}
{% set isOldList = oldList|default(false) %}
{% block title %}
	{{ shopping_list.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/list.show.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/list.show.js') }}" defer></script>
{% endblock %}

{% block body %}
	{{ include('/message.html.twig') }}
	<article class="main-container">
		<div class="list-card">
			{% if shopping_list.hasEndDate() %}
				<div class="end-date-container">
					<img src="{{ asset('img/calendar.png') }}" alt="calendar" draggable="false
											<h1 class=" list-name">{{ shopping_list.endDate|date('d/m/Y') }}</h1>
			</div>
		{% endif %}
		<div class="title-container">
			<div class="title-list">
				<img src="{{ asset('img/list.png') }}" width="40" height="40" alt="list" draggable="false">
				<h1>{{ shopping_list.name }}</h1>
			</div>
			{% if shopping_list.hasDescription %}
				<div class="description-list">
					<img src="{{ asset('img/description.png') }}" width="25" height="25" alt="description">
					<div class="description-text">
						<h3>Description :</h3>
						<h3>{{ shopping_list.description }}</h3>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="article-container">
			{% if shopping_list.nbArticles == 0 %}
				<h2 class="title-part empty-list">Your list is empty</h2>
				<div class="empty-image-container">
					<img class="empty-list" src="{{ asset('img/empty-list.png') }}" height="170" alt="empty-list" draggable="false">
				</div>
				{% if not isOldList %}
					<div class="add-articles-button-container">
						<a href="{{ path('article') }}" class="btn btn-primary">Add articles</a>
					</div>
				{% endif %}
			{% else %}
				{{ include('pagination.html.twig', { 'pagination': pagination}) }}
				<h2 class="title-part">My items ({{ shopping_list.nbArticles }}) :</h2>
				<div class="article-container">
					{% for article in articles %}
						<div class="article-card">
							{{ form_start(modifyForms[i], {'attr': {'class': 'modify-form'}}) }}
							<a href="{{ path('app_article_in_list_delete_page', {'id': article.id}) }}" class="delete-article-in-list" title="Modify this article"></a>
							<div class="article-img">
								<a href="{{ path('article_show', {'id': article.article.id}) }}">
									<img src="{{ asset('img/article/' ~ article.article.image) }}" width="70" height="70" alt="article">
								</a>
							</div>
							<div class="article-name">
								<h3 class="list-property-value">{{ article.name }}</h3>
								{{ form_widget(modifyForms[i].name)}}
								<label for="type" class="type-label">{{ article.article.type.name }}</label>
							</div>
							<div class="article-category">
								<label for="brand">Brand :</label>
								<h4 class="list-property-value">
									{% if article.brand != "" %}
										{{ article.brand }}
									{% else %}
										Unknown
									{% endif %}
								</h4>
								{{ form_widget(modifyForms[i].brand) }}
							</div>
							<div class="article-price">
								<label for="unityPrice">Unity price :</label>
								<h4 class="list-property-value">{{ article.unityPrice }}
									€</h4>
								{{ form_widget(modifyForms[i].unityPrice) }}
							</div>
							<div class="article-quantity">
								<label for="quantity">Quantity :</label>
								<h4 class="list-property-value">{{ article.quantity }}</h4>
								{{ form_widget(modifyForms[i].quantity) }}
							</div>
							<div class="article-total-price">
								<label for="totalPrice">Total price :</label>
								<h4>{{ article.totalPrice }}
									€</h4>
							</div>
							<div class="article-modify-container">
								<input type="text" class="btn btn-primary btn-submit-modify-article-in-list" onclick="switchButton(event);" title="Modify this article">
								{{ form_widget(modifyForms[i].submit) }}
							</div>
							<button class="close-modification-article" onclick="disappearInputs(event);" title="Close modification"></button>
							{{ form_widget(modifyForms[i].id) }}
							{{ form_end(modifyForms[i]) }}
						</div>
						{% set i = i + 1 %}
					{% endfor %}
				</div>
			</div>
			<div class=" total-price">
				<div class="words">
					<p>Number of articles :
					</p>
					<p>Total price :
					</p>
				</div>
				<div class="results">
					<p>{{ shopping_list.nbArticles }}</p>
					<p>{{ shopping_list.totalPrice }}
						€</p>
				</div>
			</div>
		{% endif %}
	</div>
</article>
<div class="modify-list-container">
	<a href="{{ path('list') }}" class="btn btn-dark">Back to lists</a>
	{% if not isOldList %}
		<a href="{{ path('list_edit', {'id': shopping_list.id}) }}" class="btn btn-dark">edit</a>
	{% endif %}
	<form method="post" action="{{ path('list_delete', {'id': shopping_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shopping_list.id) }}">
		<button class="btn btn-danger">Delete</button>
	</form>
</div>{% endblock %}
