{% extends 'base.html.twig' %}

{% block title %}Shopping lists{% endblock %}

{% block body %}
    <h1>Shopping lists</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Number of articles</th>
                <th>Total price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shopping_list in shopping_lists %}
            <tr>
                <td>{{ shopping_list.name }}</td>
                <td>{{ shopping_list.description }}</td>
                <td>{{ shopping_list.nbArticles }}</td>
                <td>{{ shopping_list.totalPrice }}</td>
                <td>
                    <a href="{{ path('list_edit', {'id': shopping_list.id}) }}" class="btn btn-light">edit</a>
                    <a href="{{ path('list_show', {'id': shopping_list.id}) }}" class="btn btn-dark">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new_list') }}" class="btn btn-outline-primary">Create new</a>
{% endblock %}
